In [1]:
import googlemaps
import pandas as pd
import time
import numpy as np

In [2]:
gmaps = googlemaps.Client (key = 'AIzaSyDFJVNWIJMny9XswQ_wOuHWh11iL7mc7uo')

In [3]:
df = pd.DataFrame.from_csv ('university_list_countries.csv', encoding = 'iso-8859-1')
df ['lat'] = 0
df ['lng'] = 0
df.head ()

,Country,University,Website,lat,lng
0,Afghanistan,Afghan University,www.afghanuniversity.edu.af,0,0
1,Afghanistan,Al-Birony University,www.au.edu.af,0,0
2,Afghanistan,American University of Afghanistan,www.auaf.edu.af,0,0
3,Afghanistan,Aria Institute of Higher Education,www.aria.edu.af,0,0
4,Afghanistan,Ariana Institute of Higher Education,www.ariana.edu.af,0,0

In [5]:
p = 0

for i in df.index:
    
    if (((i + 1) * 100) / df.shape [0]) > p:
        p += 1
        print (p + '% Done')
    
    result_complete = []
    try:
        result_complete = gmaps.places (df.loc [i, 'University']) ['results']
    except googlemaps.exceptions.HTTPError:
        continue
    if (len (result_complete) == 0):
        continue
    result = result_complete [0] ['geometry'] ['location']
    df.loc [i, 'lat'] = result ['lat']
    df.loc [i, 'lng'] = result ['lng']
    
df.head ()

50.0% Done
100.0% Done

,Country,University,Website,lat,lng
0,Afghanistan,Afghan University,www.afghanuniversity.edu.af,34.475522,69.126454
1,Afghanistan,Al-Birony University,www.au.edu.af,35.126848,69.317578
2,Afghanistan,American University of Afghanistan,www.auaf.edu.af,34.475522,69.126454
3,Afghanistan,Aria Institute of Higher Education,www.aria.edu.af,27.030823,75.893719
4,Afghanistan,Ariana Institute of Higher Education,www.ariana.edu.af,30.310454,-97.859309

In [6]:
df.to_csv ('University_locations.csv')

In [18]:
df_short = df [(df ['lat'] != 0) | (df ['lng'] != 0)]

In [10]:
ranks = pd.DataFrame.from_csv ('../keywords/rankfalcon_exports/weighted_rankings.csv')
ranks ['University'] = ranks.index
ranks.index = range (ranks.shape [0])
ranks.head ()

         Country  rank   inv_rank                         University
0  Massachusetts  7547  25.329307                  Boston University
1       New York  7445  15.952792                New York University
2     California  6479  15.136372                Stanford University
3  New Hampshire  2788  14.145092  Southern New Hampshire University
4       New York  4861  14.031654                Columbia University

In [20]:
sites = ranks ['University'].values
s_sites = df_short ['University'].values

i = 0

for s in sites:
    if s not in s_sites:
        i += 1
        
print (i)
print (i / len (sites))

76
0.0525224602626123

In [25]:
df_ranked = df [[(df.loc [i, 'University'] in ranks ['University'].values) for i in df.index]]
df_ranked.shape

(1385, 5)

In [27]:
df_not_matching = ranks [[(ranks.loc [i, 'University'] in df ['University'].values) for i in ranks.index]]

In [28]:
df_not_matching

,Country,rank,inv_rank,University
0,Massachusetts,7547,25.329307,Boston University
1,New York,7445,15.952792,New York University
2,California,6479,15.136372,Stanford University
3,New Hampshire,2788,14.145092,Southern New Hampshire University
4,New York,4861,14.031654,Columbia University
5,Arizona,9988,11.856198,Arizona State University
6,Pennsylvania,7932,11.231197,Pennsylvania State University
7,California,4613,11.149067,"University of California, Berkeley"
8,Massachusetts,5493,10.437587,Harvard University
9,Virginia,6460,10.430589,George Mason University
10,Maryland,4912,9.846683,Johns Hopkins University
11,Pennsylvania,5403,9.739661,University of Pittsburgh
12,United Kingdom,4803,9.237788,University of Cambridge
13,Washington,6607,9.212312,University of Washington
14,Minnesota,2700,8.842707,Capella University
15,Florida,6799,8.307842,University of Florida
16,Maryland,3139,8.020197,University of Maryland University College
17,Arizona,3025,7.681888,University of Phoenix
18,Pennsylvania,2791,7.510923,Carnegie Mellon University
19,District of Columbia,2758,7.412244,American University
20,Pennsylvania,6092,7.357201,University of Pennsylvania
21,Connecticut,5391,6.862104,Yale University
22,Colorado,4799,6.808473,University of Colorado at Boulder
23,California,5233,6.741236,"University of California, Los Angeles"
24,Illinois,4703,6.608508,University of Chicago
25,New Jersey,8044,6.533164,"Rutgers, The State University of New Jersey"
26,Maryland,4943,6.318891,University of Maryland at College Park
27,Arizona,6898,6.269491,University of Arizona
28,New York,7461,6.152764,City University of New York (CUNY) System
29,Texas,7152,6.021643,University of Houston
...,...,...,...,...
1415,Texas,94,0.010638,Texas A&M University - Kingsville
1416,Spain,94,0.010638,Universidad de Cantabria
1417,New York,94,0.010638,Niagara University
1418,New York,95,0.010526,St. Bonaventure University
1419,Kansas,95,0.010526,Baker University
1420,District of Columbia,95,0.010526,Gallaudet University
1422,Michigan,96,0.010417,Saginaw Valley State University
1423,Oklahoma,96,0.010417,Rogers State University
1424,New York,96,0.010417,"Concordia College, Bronxville"
1425,Spain,96,0.010417,Universidad de Vigo
1426,Italy,96,0.010417,University of Pisa
1427,Minnesota,97,0.010309,St. Olaf College
1428,Namibia,97,0.010309,International University of Management
1429,Texas,97,0.010309,Southwestern Adventist University
1430,Oklahoma,97,0.010309,Cameron University
1431,Pennsylvania,97,0.010309,Bucknell University
1432,China,97,0.010309,Shanghai Jiaotong University
1433,Zimbabwe,97,0.010309,Great Zimbabwe University
1434,Virginia,97,0.010309,Lynchburg College
1435,Pennsylvania,98,0.010204,Chestnut Hill College
1437,New York,98,0.010204,Dominican College
1438,Tennessee,98,0.010204,Maryville College
1439,Canada,98,0.010204,Brandon University
1440,Montana,98,0.010204,Montana State University - Northern
1441,Oman,98,0.010204,Sultan Qaboos University
1442,New York,98,0.010204,New York School of Interior Design
1443,Czech Republic,99,0.010101,University of New York in Prague
1444,California,99,0.010101,Harvey Mudd College
1445,California,99,0.010101,Loyola Marymount University
1446,Israel,99,0.010101,Tel Aviv University